Repository ElsaB-Lab/fRagmentomics: changes, and which pre-commit hooks are due for each by the changed paths.
All: style-files, roxygenize, parsable-R

.pre-commit-config.yaml:

repos:
  # 1. Standard file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-yaml
      - id: check-json
      # I commented this out so you can commit to 'main' if you want.
      # Uncomment if you want to force yourself to use branches.
      # - id: no-commit-to-branch
      #   args: ['--branch', 'main', '--branch', 'master']

  # 2. R Package Tools (Local System Version)
  # Use local Conda R instead of building a new one.
  # This avoid the "Missing dependency: Biostrings" errors.
  - repo: local
    hooks:
      - id: style-files
        name: Style Files (styler)
        entry: Rscript -e "styler::style_file(commandArgs(trailingOnly = TRUE))"
        language: system
        files: \.[rR](md|nw|markdown)?$

      - id: roxygenize
        name: Roxygenize (roxygen2)
        # Re-generates documentation (man/*.Rd) whenever you commit
        entry: Rscript -e "roxygen2::roxygenise()"
        language: system
        files: ^(R/|man/|NAMESPACE|DESCRIPTION)
        pass_filenames: false

      - id: parsable-R
        name: Check for valid R syntax
        entry: Rscript -e "invisible(lapply(commandArgs(trailingOnly = TRUE), parse))"
        language: system
        files: \.R$

  # 3. YAML, JSON, Markdown Formatter (Prettier)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json, markdown]

  # 4. Shell Formatter
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ["-i", "2", "-w"]

Update test for pre release version v0.99.9
  .github/workflows/conda_build_upload.yaml
  DESCRIPTION
  NEWS.md
  README.md
  conda-recipe/meta.yaml
  tests/testthat/test-plot_freq_barplot.R
  tests/testthat/test-plot_motif_barplot.R
  tests/testthat/test-plot_size_distribution.R
  tests/testthat/test-utils.R
  tests/testthat/test-utils_fasta.R
Due: style-files, roxygenize, parsable-R

add initial publication zenodo DOI
  README.md
Due: none

Fix: enforce LF line endings for FASTA to prevent Rsamtools indexing errors on Windows
  .gitattributes
Due: none

Modify plot_freq_barplot.R to remove warnings
  R/plot_freq_barplot.R
Due: style-files, roxygenize, parsable-R

Version 0.99.10
  DESCRIPTION
  NEWS.md
  README.md
  conda-recipe/meta.yaml
Due: roxygenize

Modify figures of the README
  README.md
  man/figure/plot_README_freq_barplot.png
  man/figure/plot_README_freq_barplot_differential.png
  man/figure/plot_README_freq_barplot_splitbymotif.png
  man/figure/plot_README_ggseqlogo.png
  man/figure/plot_README_motif_barplot_splitbybase.png
  man/figure/plot_README_size_distribution.png
  vignettes/fRagmentomics.Rmd
Due: style-files, roxygenize

Prepare Bioconductor devel release 0.99.12
  .Rbuildignore
  .gitignore
  .pre-commit-config.yaml
  DESCRIPTION
  NEWS.md
  README.md
  conda-recipe/meta.yaml
  man/figure/Workflow_fRagmentomics.png
  vignettes/fRagmentomics.Rmd
Due: style-files, roxygenize

Update README, INSTALL and vignette: mamba activate -> conda activate
  INSTALL
  README.md
  vignettes/fRagmentomics.Rmd
Due: style-files

Update README to use 1 core in analysis example
  README.md
Due: none

Fix grammatical error in README.md
  README.md
Due: none
